03 - Interactive Viz/.ipynb_checkpoints/Interactive Viz-2-checkpoint.ipynb
04 - Applied ML/.ipynb_checkpoints/04 - ML-checkpoint.ipynb
04 - Applied ML/04 - ML2.ipynb


# IPython Notebook
05 - Taming Text/.ipynb_checkpoints/05 - Taming Text_Countries-checkpoint.ipynb
